<div>
  <div>
    <p>
      Considero-me uma Desenvolvedora Full Stack Junior. Minha experiência reside na criação de soluções eficientes e escaláveis ​​usando uma variedade de tecnologias, como JavaScript, Angular, Node.js, SQL, C# e ASP.Net. Sinto-me confortável trabalhando com desenvolvimento front-end e back-end e estou sempre ansiosa para aprender novas tecnologias.
</p>
Tenho um forte entendimento dos princípios de desenvolvimento da web, também sou versada no desenvolvimento de designs da Web responsivos e aplicativos no criação de aplicativos utilizando a modalidade do Winsodws Forms com Microsoft .NET e base de dados no SQL.
<p>
Gosto de solucionar problemas e tenho um histórico de entrega de projetos no prazo e dentro do orçamento. Sou apaixonada por criar aplicativos amigáveis ​​e visualmente atraentes que fornecem a melhor experiência do usuário.
</p>
<p>
Estou sempre procurando oportunidades para melhorar e aprimorar minhas habilidades e estou animada com a oportunidade de trabalhar com uma equipe de desenvolvedores talentosos e fazer parte de projetos de ponta.
    </p>
  </div>
</div>
