<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Anek+Bangla&display=swap" rel="stylesheet" />
    <title>Flavia</title>
  </head>

  <body>

    <div class="line">
    <div class="static-hi">Olá, sou <span style="color: aquamarine;">Flavia Banchieri </span></div>

    <div class="wrapper">
      <div class="static-txt"> e sou</div>
      <ul class="dynamic-txts">
        <li><span>Desenvolvedora Front-End</span></li>
        <li><span>Desenvolvedora Back-End</span></li>
        <li><span>Designer</span></li>
        <li><span>Analista de Sistemas</span></li>
      </ul>
    </div>
  </div>

  <div class="image">
    <img src="./assets/img/Flavia.png">
  </div>
  <div class="line">
    <h1> este é um teste </h1>
  </div>


</body>
</html>
